*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header-container{
  height: 70px;
  width: 100%;
  background: #ddd;
  margin: 0;
  padding: 0;
  position: relative;
  background:rgb(0, 188, 212);
}

#input::selection{
  background:white;
  color:rgb(0, 188, 212);
}

#header{
  height: 42px;
  width: 93%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#input{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  margin: 0;
  border-radius: 20px;
  text-indent: 20px;
  padding-right: 50px;
  color: #fff;
  background:rgba(255, 255, 255,.1);
}

#input::placeholder{
  color: #fff;
}

#add{
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
  height: 42px;
  width: 42px;
  border: none;
  outline: none;
  border-radius: 20px;
  background: #fff;
}

#add-icon{
  color: rgb(0, 188, 212);
}

#list{
  width: 100%;
}


.list-item{
  width: 95%;
  height: 42px;
  margin: auto;
  margin-top: 10px;
  font-weight: lighter;
  padding-left: 20px;
  background: rgba(0, 188, 212,.8);
  color: white;
  border-radius: 1px;
  display: table;
}

#check, #delete{
  float: right;
  height: 42px;
  width: 42px;
  border: none;
  outline: none;
  background: none;
}

#delete-icon, #done-icon{
  color: white;
}

h4{
  width: 95%;
  margin: auto;
  // margin-left: 10%;
  margin-top: 10px;
  font-weight: 300;
  color: rgb(0, 188, 212);
}

p{
  display: table-cell;
  vertical-align: middle;
}
p::selection{
  background:white;
  color: rgb(0, 188, 212);
}
